:root {
    --background-color: #e0f2f1;
}

body {
    font-family: Arial, sans-serif;
    /* Additional CSS properties for body if needed */
}


.page-container {
    width: 80%;
    background-color: #f9fbfd;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.edit-container {
    background-color:#edf2fa;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.cv-container {
    background-color: #fff;
	border: 1px solid grey;
	width: 210mm; /* Width of A4 page */
    height: 297mm; /* Height of A4 page */
    margin: 40px auto;
    padding: 20px; /* Add padding for content */
    box-sizing: border-box; /* Include padding in total width */
}

.pi-item i {
	padding-right: 1rem;
	width: 25px;
}

.pi-item a {
	color: unset;
}

.rest-info,
.personal-info {
    display: flex;
    /*border: 1px solid #ddd; /* Fade border */
}

.left-column {
    /*width: 30%;*/
    background-color: var(--background-color); /* Pale background */
}

.right-column {
   /* width: 70%;*/
}

.section {
    padding: 10px;
    position: relative;
   /* border-bottom: 1px solid #ddd; /* Bottom border */
}

.section-title {
	display: flex;
    justify-content: space-between;
}

.section .skills {
	display: grid;
    grid-template-columns: repeat(2, auto); /* Two columns */
    gap: 5px;
}


#edit-btn, #add-btn {
    display: none;/* Hide edit button by default */
    position: absolute;
    right: 0;
    z-index: 1; /* Ensure edit button appears above other content */
}

#add-btn {
    right: 35px;

}
.section:hover #edit-btn,
.section:hover #add-btn {
    display: block; /* Show edit button when hovering over section */
}

@media print {
    .edit-container {
        display: none;
    }
  
  /* body {
    margin: 0;
    Additional CSS properties for body if needed 
  } */
  
}